body {
	margin: 50px;
	text-align: center;
	
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
}




h1 {
	font-family: fantasy;
	font size: 5em;
	border: 2px 2px 2px 5px #888888; 
	width: 1200px;
	text-align: center;
	box-shadow: 15px 15px 17px #888888;
	margin: 0px;
	margin-top: 20px; 




}
img {
	width: 450px;
	height: 450px;
	margin: 15px;
	transition: all 1s;
}

img:hover {
    transform: scale(1.2);
}

.btn {
	width: 6rem;
	height: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}